@import 'tailwindcss';
@import 'devicon/devicon.min.css';
@import './icons.css';

@plugin 'flowbite/plugin';

@source "../node_modules/flowbite-svelte/dist/badge";
@source "../node_modules/flowbite-svelte/dist/card";
@source "../node_modules/flowbite-svelte/dist/avatar";
@source "../node_modules/flowbite-svelte/dist/typography";
@source "../node_modules/flowbite-svelte/dist/buttons";
@source "../node_modules/flowbite-svelte/dist/timeline";
@source "../node_modules/flowbite-svelte/dist/darkmode";
@source "../node_modules/flowbite-svelte/dist/footer";
@source "../node_modules/flowbite-svelte/dist/navbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif, Arial;

	--color-primary-100: #f3faf9;
	--color-primary-200: #d5f2ed;
	--color-primary-300: #ace3db;
	--color-primary-400: #7acec5;
	--color-primary-500: #4eb3aa;
	--color-primary-600: #318c86;
	--color-primary-700: #287976;
	--color-primary-800: #246160;
	--color-primary-900: #204f4e;

	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
}

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

html {
	@apply bg-gray-100 dark:bg-gray-900;
	@apply text-gray-900  dark:text-white;
	scroll-behavior: smooth;
}

.bg-dark-gradient {
	@apply bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900 dark:from-slate-700 dark:via-slate-600 dark:to-slate-700;
}

@media (max-width: 420px) {
	/* reduce rem size on small screens */
	html {
		font-size: 0.875rem;
	}
}
